@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:wght@400;600;700&display=swap');
html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif !important;
    
}
.button {
    font-size: large;
}
.app {
    display: flex;
    position: relative;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    
    color: rgb(194, 171, 171);
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0e0;
}

/*Handle*/
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}